* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family: "Noto Serif", serif;;
    letter-spacing: 2px;
    background: var(--black);
}

.btn {
    font-family: "Noto Serif", serif;;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    outline: 1px solid var(--orange);
    outline-offset: 2px;
    color: black;
    background: rgba(211, 189, 142, 0.6);
    transition: all 0.3s cubic-bezier(0, -0.01, 0.01, 0.98);
}

.btn:hover {
    background: rgba(211, 189, 142, 0.8);
}

.btn:active {
    background: rgba(211, 189, 142, 0.9);
    outline-offset: 4px;
}

a {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: var(--gray);

}

li {
    list-style: none;
}

h1 {
    text-align: center;
    font-size: 70px;
    color: white;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    font-family: "Lato", sans-serif;
    letter-spacing: 0;
}

strong {
    color: #F79300;
}

label {
    font-size: 24px;
    color: var(--orange);
}

input {
    outline: none;
    appearance: none;
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 5px;
    color: var(--orange);
    background: black;
    border: 2px solid var(--orange);
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

hr {
    border: none;
    height: 1px;
    background: var(--orange);
}

.checker {
    color: white;
    font-size: 30px;
}

.btn-slide {
    display: block;
    width: 100px;
    height: 100px;
    background: var(--orange);
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 50%;
    font-weight: 800;
    z-index: 1;
}

.btn-slide:hover {
    background: #b68733 !important;
    cursor: pointer;
    color: white;
}

:root {
    --orange: #D3BD8E;
    --black: black;
    --gray: #9D9D9D;
}
